@font-face {
    font-family: 'Bebas Neue';
    src: url('../../Tektur_Condensed-Regular.ttf') format('truetype');
    font-family: 'Montserrat';
    src: url('../../lesson03/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

header {
    display: grid;
    background-color: #2738D3;
    color: #CDD7D6;
    flex-direction: row;
}

header img {
    align-self: center;
    grid-column: 1/2;
    border-radius: 100%;
    width: 5rem;
    margin: 1rem;
}

header h1 {
    font-family: 'Bebas Neue', 'Montserrat';
    grid-column: 2/4;
    align-self: center;
}

header p {
    font-family: 'Montserrat', sans-serif;
    grid-column: 4/5;
    align-self:last baseline;
}

.heroborder {
    position: relative;
}

.hero {
    width: 100%;
    height: auto;
    background-size: cover;
    opacity: 0.6;
}

.statement {
    position: absolute;
    top: 30%;
    left: 15%;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0.25rem 0.75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

#modep {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    margin-bottom: 1rem;
}

.switch {
    position: relative;
    grid-column: 4/5;
    grid-row: 2/3;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

nav {
    background-color: #07090F;
}

@media screen and (max-width: 500px)
{
.navigation {
	display: none;
    text-align: center;
}
}

.navigation a {
    font-family: 'Bebas Neue', 'Montserrat';
    display: block;
    padding: 1rem;
    color: #F6AA1C;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover{
    background-color: #F6AA1C;
    color: #07090F;
}

nav.open {
    display: flex;
    flex-direction: column;
	list-style: none;
}

.open a {
	display: block;
}

#chamberBanner {
    grid-template-columns: 2fr 1fr;
    background-color: #F6AA1C;
    text-align: right;
}

#chamberBanner button{
    width: 5rem;
    margin: 1rem;
    background-color: #F6AA1C;
}

.statement {
    font-family: 'Bebas Neue', 'Montserrat';
}

.homegrid {
    display: grid;
}

.goal {
    grid-column: 1/3
}

.goalgrid {
    display: grid;
}

.pagebutton {
    text-align: center;
    font-family: 'Bebas Neue', 'Montserrat';
    background-color: #F6AA1C;
    padding: 2%;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 5%;
}

.pagebutton:hover {
    background-color: #07090F;
    color: #F6AA1C;

}


@media screen and (max-width: 500px)
{
.goalgrid h2 {
    font-family: 'Bebas Neue', 'Montserrat';
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 3%;
}

.goalgrid p {
    font-family: 'Montserrat', sans-serif;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 3%;
    padding-top: 0;
}

.goalgrid .ad {
    text-align: center;
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 5%;
    border: #07090F solid 2px;
    margin: 1rem;
}

.goalgrid a {
    margin: auto;
    margin-bottom: 2%;
    font-family: 'Bebas Neue', 'Montserrat';
    grid-column: 1/3;
    grid-row: 4/5;
    margin-top: 2%;
}

}

.adpic {
    width: 100%;
}

.events {
    display: grid;
    background-color: #2738D3;
    color: #CDD7D6;
    grid-column: 3/4;
    text-align: center;
    padding: 1%;
}

.events div {
    margin: 1rem;
}


.events p {
    font-family: 'Montserrat', sans-serif;
}

.weather {
    padding: 2rem;
    border: 2px solid #07090F;
    margin: 0.5%;
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: center;
}

footer {
    font-family: 'Bebas Neue', 'Montserrat';
    padding: 1rem;
    background-color: #2738D3;
    color: #CDD7D6;
}

/*discover page*/

.sidebar {
    border: 5px solid rgba(0, 0, 0);
    text-align: center;
}

.imagebar{
    text-align: center;
    border: 5px solid rgba(0, 0, 0);
}

.imagebar picture {
    text-align: center;
    display: grid;
    padding: 2rem;
}

.imagebar picture img {
    border: 5px solid rgba(0, 0, 0);
    margin: auto;
}

#lastdays {
    text-align: center;
    margin: auto;
    padding: 2rem;
}

/*Join page*/

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="tel"],
  .form-container textarea {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  .form-container textarea {
    resize: vertical;
  }

form {
    padding: 2%;
    border: 2px #ccc solid;
    border-radius: 2%;
    grid-row: 1/2;
}

  .benefits {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 15%;
  }

  .filler {
    height: 250px;
  }

  .thankyoumsg {
    text-align: center;
    margin: 0 auto;
  }

  hr.solid {
    border-top: 3px solid #bbb;
    width: 50%;
  }

  /*Directory Page*/

.directoryhead {
    text-align: center;
}

.viewButtonContainer {
    text-align: center;
}

.viewButton {
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Bebas Neue', 'Montserrat';
    background-color: #F6AA1C;
    padding: 1rem;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 1rem;
}

.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.member {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin-bottom: 20px;
    background-color: #fff;
}

.member h2 {
    margin-top: 0;
}

.member p {
    margin: 10px 5%;
}

.member img {
    margin-top: 10px;
    max-width: 100%; 
    height: auto; 
    border: #000 solid;
    border-radius: 4px; 
}

.list-view {
    display: block;
}

.list-view .member {
    margin: 5%;
    border: none; 
    box-shadow: none;
    padding: 10px 0; 
}

.list-view .member p {
    margin: 5px 0; 
}