@media screen and (min-width: 500px) and (max-width: 1200px)
{

#menu {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.statement {
    font-size: 1.5rem;
}

.goalgrid h2 {
    font-family: 'Bebas Neue', 'Montserrat';
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 3%;
}

.goalgrid  p {
    font-family: 'Montserrat', sans-serif;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 3%;
    padding-top: 0;
}

.goalgrid .ad {
    text-align: center;
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 5%;
    border: #07090F solid 2px; /*temporary*/
    margin: 1rem;
}

.pagebutton{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    grid-column: 1/3;
    grid-row: 4/5;
}

.homegrid {
    position: relative;
    top: -50px;
    background-color: white;
    padding-top: 2%;
}

/*discover page*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sidebar {
    grid-column: 1/2;
    display:flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    text-align: center;
}

.sidebar div {
    margin: 2rem;
}

.imagebar{
    grid-column: 2/3;
    display:flex;
    flex-direction: column;
    list-style: none;
    position: relative;
}

.imagebar picture img:hover {
    border: 5px solid rgba(0, 0, 0, 0.3);
}

.list-view .member {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; 
    background-color: #f9f9f9;
    margin: auto;
    margin-bottom: 2%;
}

}