@font-face {
    font-family: 'Tektur';
    src: url('../Tektur_Condensed-Regular.ttf') format('truetype');
  }

body{
    font-family: 'Tektur', sans-serif;
    align-self: center;
    margin: auto;
    border: 5px solid rgb(175, 4, 4);
}

header {
    background-color: rgb(175, 4, 4);
    margin: 0px;
    padding: 10px;
    display: flex;
}

img {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    padding-left: 30px;
}

nav{
    text-align: center;
    margin: auto;
    background-color: rgb(65, 65, 65);
    padding: 0px;
}

nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    color: rgb(175, 4, 4);
    transform: scale(1, 1.5);
    background-color: rgb(37, 37, 37);


}

main {
    display: grid;
    font-size: 15px;
    border-radius: 10px;
    border-color: black;
    margin: 10px;
}

h2 {
    font-size: 50px;
    text-align: center;
}

section {
    padding-bottom: 30px;
    border: 5px solid rgb(175, 4, 4);
    margin-bottom: 10px;
}


h3 {
    color: white;
    text-align: center;
    font-size: 35px;
    vertical-align: top;
    background-color: rgb(175, 4, 4);
    margin: 0;
}

ul {
    justify-content: center;
}

li a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

li a:hover {
    color: rgb(175, 4, 4);
    transform: scale(1.5);
}

div {
    font-size: 20px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(175, 4, 4);
    padding: 5px;
    margin-top: 40px;
}

footer p {
    color: white;
    font-size: 20px;
    margin: 0;
}