@media screen and (min-width: 500px)
{
    body{
        width: auto;
        margin: auto;

    }
    main {
        grid-template-columns: 1fr 1fr;
        padding: 5px;
    }

    .card {
        margin: 5px;
    }

    nav {
		display: flex;
	}

	nav a {
		flex: 1 1 100%;
	}
}